* {
    box-sizing: border-box;
}
a {

    color: #f7ffd4;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

a:hover {
    color: #60a5fa;
    transform: scale(1.1);
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    box-shadow: 2px 2px 2px rgba(104, 164, 228, 0.6);
    border-radius: 7px;
}

p {
    color: #f7ffd4;
    font-size: 15px;
    font-family: monospace;

}

h2,
h1 {
    color: #f4ffc2;
    font-size: 30px;
    font-family: monospace;

}
img {
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
    box-shadow: 15px 8px 2px #60a5fa;
        border-radius: 7px;
        transition: all 0.3s ease;
        animation: fadeIn 1s;
        &:hover {
                color: #e0d530;
                transform: scale(1.1);
                box-shadow:
                    0 0 5px rgb(81, 128, 146),
                    0 0 10px #60a5fa,
                    0 0 20px #60a5fa,
                    0 0 30px #60a5fa,
            }
}
/* затемнение */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* окно */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 16px;
    border-radius: 12px;
    z-index: 11;
    max-width: 90vw;
    gap: 200px;
    max-height: 90vh;
}

/* картинка */
.modal img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
}

/* кнопка закрытия */
.close {
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.sber img{
    gap: 200px;
}
.modal1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 12px;
    z-index: 11;
    max-width: 90vw;
    gap: 200px;
    max-height: 90vh;
}

/* картинка */
.modal1 img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
}
@media (max-width: 480px) {

    p {
        font-size: 14px;
    }

    h1,
    h2 {
        font-size: 20px;
    }
}
@media (max-width: 768px) {

    h1,
    h2 {
        margin-top: 30px;
    }

    img:hover {
        transform: none;
        /* hover не нужен на тачах */
    }
}