a {
    text-decoration: underline;
    color: #60a5fa;
    cursor: pointer;
    font-family: monospace;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s, color 0.3s;
}

a:hover {
    color: #f1ffb1;
    transform: scale(1.1);
    font-family: monospace;
}

.menu {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    box-shadow: 2px 2px 2px #60a5fa;
    border-radius: 7px;
}

p {
    color: #f7ffd4;
    font-size: 20px;
    font-family: monospace;

}
.about {
    margin-top: 20%;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    color: #f7ffd4;
    animation: fadeIn 1s;

    p {
        text-align: center;

        max-width: 900px;
    }

}

h2,
h1 {
    color: #f7ffd4;
    font-size: 20px;
    font-family: monospace;

}
/* затемнение */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* окно */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 16px;
    border-radius: 12px;
    z-index: 11;
    max-width: 90vw;
    gap: 200px;
    max-height: 90vh;
}

/* картинка */
.modal img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
}

/* кнопка закрытия */
.close {
    position: absolute;
    top: 8px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}