<div class="about">
<h1>Проекты</h1>
<h2>Документооборот в команде</h2>
<p>Мы собрались командой под названием "Импульс" и распределили работу между друг другом: я стала менеджером, Вика — дата аналитиком, Камила — дизайнером, а Албина — программистом.
    Работа проходила спокойно; я закончила свою часть, заполнение документа переменными, и отправила ее аналитику. Аналитик также закончил работу, дальше все дело было за программистом и 
    дизайнером. Но, к сожалению, у программиста возникли проблемы всвязи с чем, его работу в итоге выполнила я; дизайнер успешно закончил свою работу.
</p>
<p>Наша <a  href="https://ru.yougile.com/board/igqzpdqvszik" target="_blank">доска</a> с выполненными задачами.</p>
<p>Менеджер команды: следит за тем, как продвигается работа, а также создает переменные
    вносит их в документ, создает доску.
</p>
</div>
<div class="about">
<h2 >Проект для конкурса "Система"</h2>
</div>
<div class="menu">
    <a href="https://drive.google.com/drive/folders/1sPUrpJysKKVb3mWxgXK0sJtE_SeakWpT?usp=sharing" target="_blank">Папка с документом и презинтацией на конкурс</a>

  <a (click)="openCertificate()">
    Мой сертификат участника
  </a>

<!-- Затемнение фона -->
<div class="overlay" *ngIf="isCertificateOpen" (click)="closeCertificate()"></div>

<!-- Окно с сертификатом -->
<div class="modal" *ngIf="isCertificateOpen">
  <button class="close" (click)="closeCertificate()"></button>

  <img
    src="https://avatars.mds.yandex.net/i?id=ffcbe1df5ce25dfe47f44d0d2efe324c32454d6c-5714074-images-thumbs&n=13"
    alt="Сертификат участника"/>
</div>
</div>
